<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ivyxjc.pubg4j.dao.PubgPlayerMapper">
    <resultMap id="PubgPlayerBaseMap" type="xyz.ivyxjc.pubg4j.entity.PubgPlayer">
        <result column="PLAYER_ID" jdbcType="VARCHAR" property="playerId"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="SHARD_ID" jdbcType="CHAR" property="shardId"/>
        <collection property="matches" ofType="xyz.ivyxjc.pubg4j.entity.PubgMatch"
            select="xyz.ivyxjc.pubg4j.dao.PubgMatchMapper.queryByPlayerId"
            column="PLAYER_ID"/>
    </resultMap>

    <select id="queryByPlayerId" resultMap="PubgPlayerBaseMap"
        resultType="xyz.ivyxjc.pubg4j.entity.PubgPlayer">
        SELECT
            PLAYER_ID,
            NAME,
            CREATED_AT,
            UPDATED_AT,
            SHARD_ID
        FROM PUBG_PLAYER
        WHERE PLAYER_ID = #{playerId}
    </select>

    <select id="queryByPlayerName" resultMap="PubgPlayerBaseMap"
        resultType="xyz.ivyxjc.pubg4j.entity.PubgPlayer">
        SELECT *
        FROM PUBG_PLAYER
        WHERE NAME = #{name}
    </select>

    <insert id="insertPubgPlayer" parameterType="xyz.ivyxjc.pubg4j.entity.PubgPlayer">
        insert into PUBG_PLAYER (PLAYER_ID, NAME, CREATED_AT,
                                 UPDATED_AT, SHARD_ID)
        values (#{playerId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{createdAt,jdbcType=TIMESTAMP},
                #{updatedAt,jdbcType=TIMESTAMP}, #{shardId,jdbcType=CHAR})
    </insert>


</mapper>