<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ivyxjc.pubg4j.dao.PubgMatchMapper">
    <resultMap id="PubgMatchBaseMapper" type="xyz.ivyxjc.pubg4j.entity.PubgMatch">
        <result column="PLAYER_ID" jdbcType="VARCHAR" property="playerId"/>
        <result column="MATCH_ID" jdbcType="VARCHAR" property="matchId"/>
        <result column="SHARD_ID" jdbcType="CHAR" property="shardId"
            typeHandler="xyz.ivyxjc.pubg4j.utils.PlatformRegionHandler"/>
        <result column="DB_CREATED_AT" jdbcType="TIMESTAMP" property="dbCreatedAt"/>
        <result column="DB_CREATED_BY" jdbcType="TIMESTAMP" property="dbCreatedBy"/>
        <result column="DB_CREATED_FROM" jdbcType="TIMESTAMP" property="dbCreatedFrom"/>
        <result column="DB_UPDATED_AT" jdbcType="TIMESTAMP" property="dbUpdatedAt"/>
        <result column="DB_UPDATED_BY" jdbcType="TIMESTAMP" property="dbUpdatedBy"/>
        <result column="DB_UPDATED_FROM" jdbcType="TIMESTAMP" property="dbUpdatedFrom"/>
    </resultMap>

    <select id="queryByPlayerId" resultMap="PubgMatchBaseMapper" resultType="java.util.List">
        select
            PLAYER_ID,
            MATCH_ID,
            lower(SHARD_ID),
            DB_CREATED_AT,
            DB_CREATED_BY,
            DB_CREATED_FROM,
            DB_UPDATED_AT,
            DB_UPDATED_BY,
            DB_UPDATED_FROM
        from PUBG_PLAYER_MATCH
        WHERE PLAYER_ID = #{playerId}
    </select>

    <insert id="insertPubgMatchList" parameterType="java.util.List">
        insert into PUBG_PLAYER_MATCH
        (PLAYER_ID,MATCH_ID,SHARD_ID)
        values
        <foreach collection="list" item="pubgMatch" index="index" separator=",">
            (#{pubgMatch.playerId}, #{pubgMatch.matchId}, #{pubgMatch.shardId.pltRegion})
        </foreach>
    </insert>

</mapper>